@import "tailwindcss";
@import "uniwind";

@import "heroui-native/styles";
@theme {
  /* Primitive Colors (Do not change between light and dark) */
  --white: oklch(100% 0 0);
  --black: oklch(0% 0 0);
  --snow: oklch(0.9911 0 0);
  --eclipse: oklch(0.2103 0.0059 285.89);

  /* Border */
  --border-width: 1px;
  --field-border-width: 0px;

  /* Base radius */
  --radius: 0.5rem;
  --field-radius: calc(var(--radius) * 1.5);

  /* Opacity */
  --opacity-disabled: 0.5;

  /* Active library theme: 'default' | 'glass' (overridden by Pro theme CSS) */
  --theme: default;

  /* fonts */
  --font-thin: geist-thin;
  --font-extralight: geist-extralight;
  --font-light: geist-light;
  --font-regular: geist-regular;
  --font-medium: geist-medium;
  --font-semibold: geist-semibold;
  --font-bold: geist-bold;
  --font-extrabold: geist-extrabold;
  --font-black: geist-black;

  --font-sans: geist-extralight;
}

@layer theme {
  :root {
    @variant light {
      /* Base Colors */
      --background: oklch(97.02% 0.0013 87.52);
      --foreground: oklch(21.03% 0.0013 87.52);

      /* Surface: Used for non-overlay components (cards, accordions, disclosure groups) */
      --surface: oklch(100% 0.0006 87.52);
      --surface-foreground: var(--foreground);

      --surface-secondary: oklch(95.24% 0.001 87.52);
      --surface-secondary-foreground: var(--foreground);

      --surface-tertiary: oklch(93.73% 0.001 87.52);
      --surface-tertiary-foreground: var(--foreground);

      /* Overlay: Used for floating/overlay components (dialogs, popovers, modals, menus) */
      --overlay: oklch(100% 0.0004 87.52);
      --overlay-foreground: var(--foreground);
      --backdrop: oklch(0% 0 0 / 20%);

      --muted: oklch(55.17% 0.0026 87.52);

      --default: oklch(94% 0.0013 87.52);
      --default-foreground: oklch(21.03% 0.0059 87.52);

      --accent: oklch(89.85% 0.0199 87.52);
      --accent-foreground: oklch(15% 0.004 87.52);

      /* Form Fields */
      --field-background: oklch(100% 0.0006 87.52);
      --field-foreground: oklch(21.03% 0.0013 87.52);
      --field-placeholder: oklch(55.17% 0.0026 87.52);
      --field-border: transparent; /* no border by default on form fields */

      /* Status Colors */
      --success: oklch(73.29% 0.194 130.85);
      --success-foreground: oklch(21.03% 0.0059 130.85);

      --warning: oklch(78.19% 0.1589 52.37);
      --warning-foreground: oklch(21.03% 0.0059 52.37);

      --danger: oklch(65.32% 0.2334 5.78);
      --danger-foreground: oklch(99.11% 0 0);

      /* Component Colors */
      --segment: oklch(100% 0.0013 87.52);
      --segment-foreground: oklch(21.03% 0.0013 87.52);

      /* Misc Colors */
      --border: oklch(90% 0.0013 87.52);
      --separator: oklch(92% 0.0013 87.52);
      --focus: oklch(89.85% 0.0199 87.52);
      --link: var(--foreground);

      /* Shadows */
      --surface-shadow:
        0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.06),
        0 0 1px 0 rgba(0, 0, 0, 0.06);
      --overlay-shadow:
        0 2px 8px 0 rgba(0, 0, 0, 0.02), 0 -6px 12px 0 rgba(0, 0, 0, 0.01),
        0 14px 28px 0 rgba(0, 0, 0, 0.03);
      --field-shadow:
        0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.06),
        0 0 1px 0 rgba(0, 0, 0, 0.06);
    }

    @variant dark {
      /* Base Colors */
      --background: oklch(12% 0.0013 87.52);
      --foreground: oklch(99.11% 0.0013 87.52);

      /* Surface: Used for non-overlay components (cards, accordions, disclosure groups) */
      --surface: oklch(21.03% 0.0026 87.52);
      --surface-foreground: var(--foreground);

      --surface-secondary: oklch(25.7% 0.0019 87.52);
      --surface-secondary-foreground: var(--foreground);

      --surface-tertiary: oklch(27.21% 0.0019 87.52);
      --surface-tertiary-foreground: var(--foreground);

      /* Overlay: Used for floating/overlay components (dialogs, popovers, modals, menus) - lighter for contrast */
      --overlay: oklch(21.03% 0.0026 87.52);
      --overlay-foreground: var(--foreground);
      --backdrop: oklch(0% 0 0 / 20%);

      --muted: oklch(70.5% 0.0026 87.52);

      --default: oklch(27.4% 0.0013 87.52);
      --default-foreground: oklch(99.11% 0 0);

      --accent: oklch(89.85% 0.0199 87.52);
      --accent-foreground: oklch(15% 0.004 87.52);

      /* Form Field Defaults - Colors (only the ones that are different from light theme) */
      --field-background: oklch(21.03% 0.0026 87.52);
      --field-foreground: oklch(99.11% 0.0013 87.52);
      --field-placeholder: oklch(70.5% 0.0026 87.52);
      --field-border: transparent; /* no border by default on form fields */

      /* Status Colors */
      --success: oklch(73.29% 0.194 130.85);
      --success-foreground: oklch(21.03% 0.0059 130.85);

      --warning: oklch(82.03% 0.1392 56.38);
      --warning-foreground: oklch(21.03% 0.0059 56.38);

      --danger: oklch(59.4% 0.1972 4.67);
      --danger-foreground: oklch(99.11% 0 0);

      /* Component Colors */
      --segment: oklch(39.64% 0.0013 87.52);
      --segment-foreground: oklch(99.11% 0.0013 87.52);

      /* Misc Colors */
      --border: oklch(28% 0.0013 87.52);
      --separator: oklch(25% 0.0013 87.52);
      --focus: oklch(89.85% 0.0199 87.52);
      --link: var(--foreground);

      /* Shadows */
      --surface-shadow: 0 0 0 0 transparent inset; /* No shadow on dark mode */
      --overlay-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.2) inset;
      --field-shadow: 0 0 0 0 transparent inset; /* Transparent shadow to allow ring utilities to work */
    }
  }
}

@source "../node_modules/heroui-native/lib";
