@import "tailwindcss";
@import "uniwind";

@import "heroui-native/styles";
@theme {
  /* Primitive Colors (Do not change between light and dark) */
  --white: oklch(100% 0 0);
  --black: oklch(0% 0 0);
  --snow: oklch(0.9911 0 0);
  --eclipse: oklch(0.235 0 0);

  /* Border */
  --border-width: 1px;
  --field-border-width: 0px;

  /* Base radius */
  --radius: 0.5rem;
  --field-radius: calc(var(--radius) * 1.5);

  /* Opacity */
  --opacity-disabled: 0.5;

  /* fonts */
  --font-thin: geist-thin;
  --font-extralight: geist-extralight;
  --font-light: geist-light;
  --font-regular: geist-regular;
  --font-medium: geist-medium;
  --font-semibold: geist-semibold;
  --font-bold: geist-bold;
  --font-extrabold: geist-extrabold;
  --font-black: geist-black;

  --font-sans: geist-extralight;
}

@layer theme {
  :root {
    @variant light {
      /* Base Colors */
      --background: oklch(0.9195 0.0169 88.003);
      --foreground: var(--eclipse);

      /* Surface: Used for non-overlay components (cards, accordions, disclosure groups) */
      --surface: oklch(0.953 0.0156 86.4257);
      --surface-foreground: var(--foreground);

      --surface-secondary: oklch(0.8647 0.0201 87.5232);
      --surface-secondary-foreground: var(--foreground);

      --surface-tertiary: oklch(0.834 0.0232 87.163);
      --surface-tertiary-foreground: var(--foreground);

      /* Overlay: Used for floating/overlay components (dialogs, popovers, modals, menus) */
      --overlay: oklch(0.953 0.0156 86.4257);
      --overlay-foreground: var(--foreground);
      --backdrop: oklch(0% 0 0 / 20%);

      --muted: oklch(0.834 0.0232 87.163);

      --default: oklch(0.8647 0.0201 87.5232);
      --default-foreground: var(--eclipse);

      --accent: oklch(0.3012 0 0);
      --accent-foreground: oklch(0.953 0.0156 86.4257);

      /* Form Fields */
      --field-background: oklch(0.953 0.0156 86.4257);
      --field-foreground: var(--foreground);
      --field-placeholder: var(--muted);
      --field-border: transparent; /* no border by default on form fields */

      /* Status Colors */
      --success: oklch(0.7329 0.1935 150.81);
      --success-foreground: var(--eclipse);

      --warning: oklch(0.7819 0.1585 72.33);
      --warning-foreground: var(--eclipse);

      --danger: oklch(0.5771 0.2152 27.325);
      --danger-foreground: var(--snow);

      /* Component Colors */
      --segment: oklch(0.953 0.0156 86.4257);
      --segment-foreground: var(--eclipse);

      /* Misc Colors */
      --border: oklch(0.8434 0.0231 87.1621);
      --separator: oklch(0.8434 0.0231 87.1621);
      --focus: var(--accent);
      --link: var(--foreground);

      /* Shadows */
      --surface-shadow:
        0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.06),
        0 0 1px 0 rgba(0, 0, 0, 0.06);
      --overlay-shadow:
        0 2px 8px 0 rgba(0, 0, 0, 0.02), 0 -6px 12px 0 rgba(0, 0, 0, 0.01),
        0 14px 28px 0 rgba(0, 0, 0, 0.03);
      --field-shadow:
        0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.06),
        0 0 1px 0 rgba(0, 0, 0, 0.06);
    }

    @variant dark {
      /* Base Colors */
      --background: oklch(0.1913 0 0);
      --foreground: oklch(0.9173 0.0133 82.4015);

      /* Surface: Used for non-overlay components (cards, accordions, disclosure groups) */
      --surface: oklch(0.2264 0 0);
      --surface-foreground: var(--foreground);

      --surface-secondary: oklch(0.26 0 0);
      --surface-secondary-foreground: var(--foreground);

      --surface-tertiary: oklch(0.29 0 0);
      --surface-tertiary-foreground: var(--foreground);

      /* Overlay: Used for floating/overlay components (dialogs, popovers, modals, menus) */
      --overlay: oklch(0.2264 0 0);
      --overlay-foreground: var(--foreground);
      --backdrop: oklch(0% 0 0 / 20%);

      --muted: oklch(0.6348 0.0113 81.7875);

      --default: oklch(0.26 0 0);
      --default-foreground: var(--foreground);

      --accent: oklch(0.852 0.0205 100.6306);
      --accent-foreground: oklch(0.1913 0 0);

      /* Form Field Defaults */
      --field-background: oklch(0.2264 0 0);
      --field-foreground: var(--foreground);
      --field-placeholder: var(--muted);
      --field-border: transparent; /* no border by default on form fields */

      /* Status Colors */
      --success: oklch(0.7329 0.1935 150.81);
      --success-foreground: oklch(0.1913 0 0);

      --warning: oklch(0.8203 0.1388 76.34);
      --warning-foreground: oklch(0.1913 0 0);

      --danger: oklch(0.5771 0.2152 27.325);
      --danger-foreground: var(--snow);

      /* Component Colors */
      --segment: oklch(0.26 0 0);
      --segment-foreground: var(--foreground);

      /* Misc Colors */
      --border: oklch(0.2931 0 0);
      --separator: oklch(0.2931 0 0);
      --focus: var(--accent);
      --link: var(--foreground);

      /* Shadows */
      --surface-shadow: 0 0 0 0 transparent inset;
      --overlay-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.2) inset;
      --field-shadow: 0 0 0 0 transparent inset;
    }
  }
}

@source "../node_modules/heroui-native/lib";
